@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido mi gente bella a mi sitio</h1>
    <p>Aprende acerca de <a href="https://platzicursoweb1991.azurewebsites.net/">Github e integración continua</a>.</p>
</div>
